*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.main-heder{
	height: 76px;
	text-align: center;
	background-color: #2D89E6;
	color: white;
	padding-top: 23px;
	padding-bottom: 23px;
	font-size: 22px;
	font-weight: bold;
}
.main-contant{
	display: grid;
	grid-template-columns: 35% 65%;
}
@media screen and (max-width : 1100px){
	.main-contant{
		grid-template-columns: 100% ;
	}
	 .main-list{
		 margin-left: 30px;
	 }
}
.main-form{
	height: auto;;
	border:2px solid #eee;
	border-radius:20px;
	margin: 25px;
	text-align: center;
}
form{
	display: flex;
	flex-direction: column;
	padding-left: 30px;
	padding-right: 30px;
}
.form-member{
	margin-bottom: 15px;
	border:1px solid #c3c3c3;
	border-radius: 10px;
	height: 40px;
	padding: 10px;
}
.input-index{
	position: relative;
	top: 5px;
	height: 20px;
	width: 20px;
	border:1px solid #c3c3c3;
	background-color: #eee;
	border-radius: 0px;
	margin-bottom: 15px;
}
.btn-form{
	width: 100%;
	background-color: #2D89E6;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	border: none;
	cursor: pointer;
}
.list-serch-heder{
	margin-top: 30px;
	width: 100%;
	display: inline-block;
	border: none;
	
}
.items-counter{
	float: right;
	background-color:#2D89E6;
	border: 2px solid white;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 45px;
	margin-bottom: 20px;
	color: white;
}

.serch-bar{
	display: flex;
	background-color: #2D89E6;
	border: 2px solid white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 45px;
	width: 80%;
	margin-bottom: 20px;;
}

.serch-member{
	border:1px solid #C3C3C3;
	border-radius: 10px;
	padding-left: 2px;
	margin-left: 8px;
	margin-right: 8px;
}

.memebr-list{
	display: grid;
	grid-template-columns: 8% 92%;
	grid-row-gap: 17px;
	padding-left: 17px;
	/* overflow-x: hidden;  */
	overflow-y: auto;
	height:455px;
	cursor: zoom-in;
}

.minus-sagin{
	position: relative;
	bottom: 3px ;
}
.minus-button{
	background-color: #FF4A4A ; 
	border: none;
	border-radius: 50%;
	height: 38px;
	width: 38px;
	color: white;
	text-align: center;
	text-decoration: none;
    padding-left: 5px;
	padding-right: 5px;
	padding-bottom: -5px;
	margin-left: 8px;
	margin-top: 8px; 
	font-size: 20px;
	cursor: pointer;
}
.user-name{
	font-size: 22px;
	padding-bottom: 8px;
}

.user-data{
	font-size: 14px;
	color: #2D89E6;
	padding-bottom: 8px;
}

.user-bio{
	font-size: 14px;
	color: #6A6A6A;
	overflow: hidden;
}
.user-div{
	height: 97px;
	overflow: hidden;
}
