/* model styling  */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);
	cursor: zoom-out;
}
.modal-content {
	width: 1055px;
	height:399px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
	background-color: white;
	border: 1px solid #707070;
	margin-top:12%;
	margin-left: auto;
	margin-right: auto;	
	position: relative;
	border-radius:23px;

}
.close{
	height: 37px;
	width: 37px;
	border-radius: 50%;
	position: absolute;
	background-color: #000000;
	color: white;
	font-size: 20px;
	text-align: center;
	top: -10px;
	left: -10px;
	padding :8px ;
	cursor: pointer;
}
.modal-body{
	height:auto;
	width: 920px;
	margin-top:30px;
	margin-left: auto;
	margin-right: auto;	
	text-align: center;
	
}
.model_name{
	font-size: 55px;
	padding-bottom: 19px;
	text-align: center;
	border: 1px solid white;
}
.model_name:focus{
	border: 1px solid #707070;
	outline:0;
	margin-bottom: 5px;
	border-radius: 10px;
}

.model_data{
	font-size: 14px;
	padding-bottom: 3px;
	border-radius: 10px;
	padding-left: 2px;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 15px;;
	border: 1px solid white;
}
.model_data{
	border: 1px solid #707070;
	outline:0;
	margin-bottom: 5px;
	border-radius: 10px;
}
.model_bio{
	font-size: 14px;
	margin-bottom: 30px;
	height: 150px;
	width:780px;
	resize: none;
	border: 1px solid white;
}
.model_bio:focus{
	border: 1px solid #707070;
	outline:0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	border-radius: 10px;
}
.model-delete-btn{
	color: white;
	background-color: #FF4A4A;
	border:1px solid #707070;
	font-size: 22px;
	width:160px;
	height: 45px;
	cursor: pointer;
}
.model-save-btn{
	color: white;
	background-color: #2D89E6;
	border: 1px solid #2D89E6;
	font-size: 22px;
	margin-left: 40px;
	margin-right: 40px;
	width: 160px;
	height: 45px;
	cursor: pointer;
}
.model-cancle-btn{
	color: white;
	background-color: #484848;
	border:1px solid #707070;
	font-size: 22px;
	width: 160px;
	height: 45px;
	cursor: pointer;
}